@charset "utf-8";
#banner {
	height: 213px;
	min-width: 0px;
	width: 905px;
	margin-left: 0px;

}
#nav {
	width: 500px;
	height: 80px;
	margin-right: px;
	margin-left: 200px;
	top: 0px;
	left: 0px;

}
text  {
	color: #21E8F9;
	text-align: left;
	text-indent: 20px;
	font-family: 'Lobster', cursive;
	text-shadow: 0px 0px #02D5B1;
}
.tattoo.artwork img div {
	text-align: center;
	width: 10px;
}
